
a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 700;
    color: red;
    text-shadow: 1px 5px -1px gray;
    font-size: 15px ;
    margin-top: 10px;
    margin-bottom: 5px;
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 20px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.logo{
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}


.logo span{
    color: red;
    
}
.navbar{
    display: flex;
    position: relative;

}

.navbar li{
    list-style: none;

}
.navbar a{
    color: #ffff;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}



header .navbar li a:hover{
    color:red;
    border-bottom: 2px solid red;
}


img{
    max-width: 100%;
}


.contenaire{margin: 0px auto;
    overflow: hidden;

}
header{
    background-color: rgb(59, 218, 230);
}



/* adaptation a l'egrant de l'android le nom de la boutique */

@media only screen and (max-width:600px){

  
   
    .logo{
        color: #fff;
        font-weight: bold;
        font-size: 1rem;
        text-decoration: none;
    }
    .navbar{
        display: block;
        position: relative;
        left: 50%;
        bottom: -80px;
    
    }
    header .navbar {
        position: fixed;
        top: 0px;
        left: 0px;
        padding: 20px;
        width: 100%;
        z-index: 1;
        display: inherit;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s;
        
    }

    header .navbar{
        visibility: hidden;
    }
}

/* -------------------------------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------------------------------*/

.image img{

    width: 230px;
    height: 230px;
}

.produits{
    
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 5px;
   

}
.produit{
    box-sizing: border-box;
    border: 2px solid whitesmoke;
    margin: 10px 20px;
    padding-left: 17px;
    box-shadow: -3px 3px 6px grey;
    background-color: whitesmoke;
    border-radius: 30px;
}

.promo{
  margin: 50px 50px;
  font-size: 25px;
  position: relative;
  /* top:-500px; */
  z-index: 200;


}
 .promo span{
    font-size: 50px;
    color: orangered;
}


 #btn{


    width: 40%;
    height: 40px;
    border-style: none;
    border-radius: 20px;
    background-color: rgb(95, 220, 95);
    box-shadow: 2px 2px 2px gray;
    position: relative;
    left: 25%;
    bottom: 10px;

}

 button a {
    font-size: 10px;
    color: white;
    text-shadow: 0.5px 0px 0.5px white;
    letter-spacing: 2px;
    transition: 1s;
}

.produits{
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    margin: 10px 10px;
    padding: 10px;
}



/* adaptation des image des produit a l'ecran d'android */

 @media only screen and (max-width:600px){
     .produit{
        margin-bottom: 20px;
     }

  .produits{
      display:block;
      padding-left: 10px;
      margin: 5px 5px;
     
      
  }
  .image{
      gap: 20px;

  }

  .image img{

    width: 250px;
    height: 250px;
}


 .promo{
    margin: 50px 50px;
    font-size: 25px;
    position: relative;
    top:-500px;
    z-index: -1;
  
}

.mo{
    visibility: hidden;
    transition: 1s;
 }

.ma{
    visibility: visible;
 }

.menu{
    background-color: red;
    opacity: 0;
 } 
 #btn{
     margin-bottom: 10px;
     width: 80px;
 }
 #btn a{
     font-size: 8px;
 }

 
 
}
  

h5{
text-decoration: underline;
color:rgb(46, 208, 248);
}
  




 /* ---------------------------------------------------------------------------------------------------
 ------------------------------------------------------------------------------------------------- */



/* --------------------------------------------------------------------------------------------------------------------------
------------------------------------- */
.footer{
    display: grid;
   grid-template-columns: 25% 25% 25% 25%;
    gap: 5px;
    margin: 10px;
    padding: 10px;
}
.General{
    background-color: rgba(116, 201, 226, 0.645);
}
.footer-center a{
    color:black;
}

.footer-center h5{

    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: 30px;
}
.copyright{
    font-size: 14px;
    color: gray;
    position: relative;
    left: 150%;
    margin-top: 40px;
}

.copyright p{
    text-align: center;
    font-size: 10px;
    color: gray;
}
@media only screen and (max-width:600px){
    .footer{
        display: block;
        padding: auto;
        margin: auto;
        height: auto;
    }
    .footer-center a:link,
    .footer-center a:visited{
        display: block;
    }
    .copyright{
        font-size: 14px;
        color: gray;
        position: inherit;
        left: inherit;
        margin-top: 80px;
    }

}



.animation img{
    width: 100px;
    height: 75px;
    position: fixed;
    left: 250px;
    top: 0px;
    z-index: 1000;
}
h4{

    color: violet;
    text-align: center;
    text-shadow: 1px 3px -1px grey;
}
.article{
    border: none;
    width: 100%;
    height: 200px;
    margin-bottom: 200px;
}
.cercle{

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blue;
    margin: 5px 10px;
}

h2{
    font-size: 20px ;
    left: 40px;
    position: relative;
}
.article ul{

    margin: 40px 40px;
}
.article p{
    margin: 0px 20px;
}
.info a{
    text-decoration: inherit;
    font-size: 10px;
    margin-left: 25vw;
}
.article #btn{
    width: 100px;
}